
html,
body {
	height: 100% !important;
}

#wrapper {
	height: 100% !important;
	width: auto !important;
	padding: 0 !important;
}

#bbchat {
	height: 100% !important;
	display: flex !important;
	flex-direction: column !important;
}

/* Header */

#bbchat-header {
	height: 20px !important;
}

#bbchat-header > div {
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-end !important;
}

#bbchat-header .dropdown {
	width: 20px !important;
}

#bbchat-header .dropdown-toggle {
	width: 20px !important;
}

#bbchat-header .dropdown-toggle .icon {
	-webkit-filter: invert(1) !important;
	filter: invert(1) !important;
}

#bbchat .dropdown-menu {
	left: auto !important;
}

#bbchat .dropdown-menu.rooms-list {
	width: 200px !important;
	right: -59px !important;
}

#bbchat .dropdown-menu.user-search {
	width: 200px !important;
	right: -30px !important;
	margin-left: 0 !important;
}

#bbchat-change-name-dropdown {
	margin-left: 0 !important;
	right: 0 !important;
}

#bbchat-tab-list {
	display: none !important;
}

#bbchat-menus {
	display: flex;
	flex-direction: row;
}

#bbchat-menus > div {
	padding-left: 10px !important;
	padding-bottom: 10px !important;
}

#bbchat-menus > div > label {
}

#bbchat-menus > div > label > select {
}

/* Tab Content */

#bbchat-tabs {
	height: auto !important;
	flex-grow: 1 !important;
	margin-top: 0 !important;
	display: flex !important;
	flex-direction: column !important;
	background-image: none !important;
}

#bbchat-tab-content {
	flex-grow: 1 !important;
	overflow-y: hidden !important;
}

#bbchat-tab-content .tab-pane-menu {
	display: none !important;
}

#bbchat-tab-content .tab-pane div:last-child {
	margin: 0 1px 1px !important;
}

/* Messages */

.message em {
	font-size: 12px !important;
	opacity: 0.7 !important;
}

.message-option-links {
	opacity: 0.3 !important;
}

.message-option-links .icon:hover {
	opacity: 1.0 !important;
}

.message-content {
	font-size: 14px !important;
	padding: 2px !important;
}
