
html,
body {
	height: 100% !important;
}

#wrapper {
	height: 100% !important;
	width: auto !important;
	padding: 0 !important;
}

#bbchat {
	height: 100% !important;
	display: flex !important;
	flex-direction: column !important;
}

/* Header */

#bbchat-header {
	height: 35px !important;
	display: flex !important;
	flex-direction: row !important;
}

#bbchat-header.activated #bbchat-menus {
	display: flex;
}

#bbchat-menus {
	flex-grow: 1;
	display: none;
	flex-direction: row;
	align-items: center;
}

#bbchat-menus > div {
	padding-left: 10px !important;
}

#bbchat-menus .custom-select {
	position: relative;
}

#bbchat-menus .custom-select select {
	color: #eee;
	display: inline-block;
	border: 1px solid #272727;
	padding: 4px 3px 3px 5px;
	margin: 0;
	font: inherit;
	outline: 0;
	line-height: 1.2;
	background: #393939;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0;
	width: 100%;
	font-size: 12px;
	height: 25px;
}

#bbchat-menus .custom-select select:focus {
    -webkit-box-shadow: 0 0 3px 1px #387bbe;
    -moz-box-shadow: 0 0 3px 1px #387bbe;
    box-shadow: 0 0 3px 1px #387bbe
}

#bbchat-menus .custom-select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    color: white;
    pointer-events: none;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

#bbchat-menus .no-pointer-events .custom-select:after {
    content: none
}

#bbchat-menus div:first-child .custom-select select {
	padding-right: 25px;
}

#bbchat-header > div:last-child {
	display: none;
}

#bbchat-header.activated > div:last-child {
	display: block;
}

#bbchat-header .dropdown {
	width: 20px !important;
	margin-left: 3px !important;
}

#bbchat-header .dropdown-toggle {
	width: 20px !important;
}

#bbchat-header .dropdown-toggle .icon {
	-webkit-filter: invert(1) !important;
	filter: invert(1) !important;
}

#bbchat .dropdown-menu {
	left: auto !important;
}

#bbchat .dropdown-menu.rooms-list {
	width: 200px !important;
	right: -48px !important;
}

#bbchat .dropdown-menu.user-search {
	width: 200px !important;
	right: -24px !important;
	margin-left: 0 !important;
}

#bbchat-change-name-dropdown {
	margin-left: 0 !important;
	right: 0 !important;
}

#bbchat-tab-list {
	display: none !important;
}

/* Tab Content */

#bbchat-tabs {
	height: auto !important;
	flex-grow: 1 !important;
	margin-top: 0 !important;
	display: flex !important;
	flex-direction: column !important;
	background-image: none !important;
}

#bbchat-tab-content {
	flex-grow: 1 !important;
	overflow-y: hidden !important;
}

#bbchat-tab-content .tab-pane-menu {
	display: none !important;
}

#bbchat-tab-content .tab-pane div:last-child {
	margin: 0 1px 1px !important;
}

/* Messages */

.message em {
	font-size: 12px !important;
	opacity: 0.7 !important;
}

.message-option-links {
	opacity: 0.3 !important;
}

.message-option-links .icon:hover {
	opacity: 1.0 !important;
}

.message-content {
	font-size: 14px !important;
	padding: 2px !important;
}

/* Input */

#bbchat textarea {
	height: 44px !important;
	font-size: 13px !important;
}
