body {
	background-color: #666 !important;
	overflow-y: hidden !important;
}

#masterPageWrapper {
	min-height: 0 !important;
	top: 0 !important;
	background: none !important;
}

#cbs-show-page {
	margin: 0 auto !important;
	min-width: 0 !important;
}

#bbl {
	width: 100% !important;
}

#bblf-stream .cbs-show-mod-featured {
	margin: 0 !important;
}

#globalHeaderContainer,
#globalShowHeader,
#bbl-promo,
#cbs-footer {
	display: none !important;
}

#bbl-alerts {
	position: absolute !important;
	height: 18px !important;
	line-height: 16px !important;
	font-size: 10px !important;
	z-index: 40 !important;
}

.alert-shadow-left,
.alert-shadow-right {
	display: none !important;
}

#bbl-alert-text {
	height: 18px !important;
	line-height: 16px !important;
}

.tickercontainer {
	height: 18px !important;
}

.newsticker li:hover {
	cursor: pointer !important;	
}

/* Cameras */

#bbl-camera-list {
	top: 18px !important; /* PADDING */
	left: 18px !important; /* PADDING */
	overflow-x: hidden !important;
}

#bbl-camera-angles {
	margin: auto auto 0 !important;
}

#bbl-camera-angles > li {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#bbl #bbl-camera-angles li.selected .camera-border {
    width: 100% !important;
    height: 100% !important;
}

#bbl #bbl-camera-angles li a:hover .camera-border {
    width: 100% !important;
    height: 100% !important;
}

/* Player */

#cbsi-player-embed {
	text-align: center !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#bbl #bbl-calendar-button {
	display: none !important;
}

#bbl-still-watching {
	height: auto !important; /* PADDING */
	top: 18px !important; /* PADDING */
	bottom: 18px !important; /* PADDING */
}

/* Chat Room */

#bbl-chat {
	background: #404040 !important;
}

#bbl-chat-wrapper {
	width: auto !important;
	height: 100% !important;
	padding-top: 0 !important;
}

#bbl-chat-wrapper > iframe {
	height: 100% !important;
}

/* Highlights */

#bbl-highlights .bbHighlightsContainer {
	height: 41px !important;
}

#bbl-highlights .bbl-flashbacksContainer {
	width: auto !important;
}

#bbl-highlights .sc-screen  {
	width: auto !important;
}

#bbl-highlights .blShdoContainer {
	display: none;
}

/* Flashback */

#bbl-flashbacks .month {
	height: 38px !important;
	line-height: 35px !important;
}

#bbl-flashbacks .month .month-drop {
	top: 7px !important;
}

#bbl-flashbacks .month .calendar-month span {
	top: 10px !important;
}

#bbl-flashbacks .calendar-view {
	height: auto !important;
	padding-top: 22px !important;
}

#bbl-flashbacks .calendar-view > div {
	width: 300px !important;
	margin: 0 auto !important;
}

#bbl-flashbacks .flashback-controller {
	position: relative !important;
}

#bbl-flashbacks .flashback-controller .timepicker {
	width: 58% !important;
	margin: 0 !important;
	padding: 0 !important;
}

#bbl-flashbacks .flashback-controller .timepicker .timepicker-note {
	display: none;
}

#bbl-flashbacks .flashback-controller .time {
	margin-top: 0 !important;
	position: absolute !important;
	right: 0 !important;
}

#bbl-flashbacks .flashback-controller #camera-selector {
	top: 34px !important;
	right: 0 !important;
	width: 40% !important;
}

#bbl-flashbacks .flashback-controller #watch-button {
	top: 120px !important;
	width: 286px !important;
	left: 50% !important;
	right: auto !important;
	margin-left: -143px !important;
}

/* Twitter Feed */

#bbl-tweets .tab-header {
	width: auto !important;
	height: 36px !important;
	padding: 0 !important;
	border-bottom: none !important;
}

#bbl-tweet-button {
	position: absolute !important;
	top: 8px !important;
	left: 20% !important;
	right: 20% !important;
	width: auto !important;
	line-height: 28px !important;
	height: 24px !important;
	font-size: 16px !important;
	opacity: 0.8 !important;
}

#bbl-tweets .bbl-tab-content {
	position: relative !important;
	height: 100% !important;
	width: auto !important;
}

#bbl-tweets-window {
	height: 100% !important;
	width: auto !important;
	margin: 4px !important;
}

#twitter-widget-wrapper {
	height: 100% !important;
}

#twitter-widget-wrapper iframe{
	width: 100% !important;
	height: 100% !important;
}

/* Tabbed Panel */

#bbl-tabs {
	top: 18px !important; /* PADDING */
	bottom: 18px !important; /* PADDING */
	right: 18px !important; /* PADDING */
}

.bbl-tab {
	width: auto !important;
	background-color: #404040 !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
