body {
	background-color: #666 !important;
}

#cbs-page {
	/*display: none;*/
}

#cbs-page.content-ready {
	display: block;
}

#masterPageWrapper {
	background: none !important;
	min-height: 0 !important;
}

#cbs-show-page {
	margin: 0 auto !important;
}

#bbl {
	width: 100% !important;
}

#bblf-stream .cbs-show-mod-featured {
	margin: 0 !important;
}

#substickyheader,
#bbl-promo,
#cbs-footer {
	display: none !important;
}

/* Cameras */

#bbl-camera-list {
	top: 18px !important; /* PADDING */
	left: 18px !important; /* PADDING */
}

#bbl-camera-angles {
	margin: auto auto 0 !important;
}

#bbl #bbl-camera-angles li.selected .camera-border {
    width: 100% !important;
    height: 100% !important;
}

#bbl #bbl-camera-angles li a:hover .camera-border {
    width: 100% !important;
    height: 100% !important;
}

/* Player */

#cbsi-player-embed {
	top: auto !important; /* PADDING */
	left: 18px !important; /* PADDING */
	bottom: 18px !important; /* PADDING */
	text-align: center !important;
}

#bbl #bbl-calendar-button {
	display: none !important;
}

/* Tabbed Panel */

#bbl-tabs {
	top: 18px !important; /* PADDING */
	bottom: 18px !important; /* PADDING */
	right: 18px !important; /* PADDING */
	display: flex  !important;
	flex-direction: column  !important;
}

.bbl-tab {
	width: auto !important;
	flex-grow: 1 !important;
	background-color: #404040 !important;
}

/* Chat Room */

#bbl-chat-wrapper {
	width: 100% !important;
	height: 100% !important;
	padding-top: 0 !important;
}

#bbl-chat-wrapper iframe {
	height: 100% !important;
}

/* Twitter Feed */

#bbl-tweets .tab-header {
	width: auto !important;
	border-bottom: none !important;
}

#bbl-tweets .bbl-tab-content {
	position: relative !important;
	height: 100% !important;
	width: auto !important;
}

#bbl-tweets-window {
	height: 100% !important;
	width: auto !important;
	margin: 4px !important;
}

#twitter-widget-wrapper {
	height: 100% !important;
}

#twitter-widget-wrapper iframe{
	width: 100% !important;
	height: 100% !important;
}
